<div class="container">
    <div class="row pt-5">
        <div class="col-md-5 col-sm-12">
            <img class="pt-3" width="100%" src="assets/img/n2.jpg" alt="">
        </div>
        <div class="col-md-7 col-12 text-center text-md-right">
            <h2 class="pt-3">ما هي أعراض ضعف المبايض</h2>
            <p>قبل الحديث عن افضل علاج لتنشيط المبايض، لابد أن تعلمي عزيزتي أن  هناك العديد من الأعراض التي قد تحدث لكِ وتبيّن أن الأمر يحتاج إلى الطبيب المتخصص والتدخل العلاجي والتعرض للوسائل العلاجية المختلفة من أجل حل مشكلة المبايض، فما هي هذه الأعراض ؟</p>
            <p>الشعور بآلام متفاوتة أثناء ممارسة العلاقة الحميمة، إنها من المؤشرات والأعراض التي من المحتمل أن تكون  بداية لبعض المشكلات التي يعاني منها المبيضين وبالتالي تأخر عملية الإنجاب.</p>
            <ul dir="rtl">
                <li>هل تتعرضين للتعرق الليلي؟ في هذه الحالة قد تكون علامة أخى من علامات ضعف المبايض، ولابد أن تحذري  من هذا الأمر.</li>
                <li>جفاف المهبل، إنها علامة أكيدة لضعف المبايض، وعرض لابد من التوقف تجاهه من أجل العلاج الفوري. </li>
                <li>عدم الشعور بالرغبة الجنسية من ضمن العلامات والأعراض التي تدل على ضعف المبايض. </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <img class="pt-3" width="100%" src="assets/img/n3.jpg" alt="">
        </div>
        <div class="col-md-7 col-sm-12  text-center text-md-right">
            <h2 class="pt-3">ما هو افضل علاج لتنشيط المبايض؟ تعرفِ على أهم 7 طرق علاجية فعّالة لزيادة فرصة الإنجاب </h2>
            <p>
                إن كل فتاة وسيدة في العالم تحلم باليوم الذي تنجب فيها وليدها، إنه يوم سعيد ولحظات مبهجة لا تنسى، لذلك تبحث المرأة
                دائماً على كل ما يساعدها للحصول على تلك الأمنية ، فلو كانت تعاني من مشكلات حقيقية، فهي تفكر أولاً وأخيراً في حل هذه المشكلة
                ، وتعد مشكلة ضعف المبايض خطيرة ويجب عليكِ الذهاب للطبيب المتخصص الذي يقوم بدوره في الكشف والفحص، ثم  يقوم بوصف
                العلاج المناسب لكِ، فما هو افضل علاج لتنشيط المبايض؟ هذا ما نتعرف عليه خلال النقاط التالية
            </p>
            <ol dir="rtl">
                <li>كلوميفين سيترات افضل منشط للمبايض</li>
                <li>ميتفورمين من الأدوية الفعّالة في تنشيط المبايض</li>
                <li>الجونادوتروبين .. دواء لنمو البويضات الشهرية</li>
                <li>علاج ضعف المبايض من خلال البردقوش</li>
                <li>التمر مع العسل .. هل يكون افضل منشط للمبيض طبيعياً</li>
                <li>تناول العسل على الريق .. وصفة طبيعية يومية لتنشيط المبيض</li>
                <li>تناول طلع النخل مع العسل .. وصفة أخرى لتنشيط المبايض وزيادة فرص التبويض</li>
            </ol>
        </div>
    </div>
</div>