<div class="container py-5">
    <div class="row" dir="rtl">
        <div class="col-md-5 col-12 pb-4">
            <img src="assets/img/services/motaba.jpg" width="100%"  alt="no pain image">
        </div>
        <div class="col-md-7 col-sm-12 text-right ">
            <h2>متابعة الحمل العادي و الخطر</h2>
            <p class="py-1">1-	الحمل هو وجود جنين ينمو في رحم الأنثى، من خليتين جنسيتين تتحدان لتكونان خلية جسميّة تبدأ بالانقسام والتمايز لمدّة تسعة أشهر بالوضع الطبيعي، يعتمد خلالها على الأم في تأمين احتياجاته كاملة وجاهزة، وإخراج فضلاته أيضاً، ومن ثم يخرج للحياة في عمليّة الولادة، ويبدأ بالاعتماد على نفسه في هضم غذائه، وإخراجه، وتتطوّر حواسه تدريجيّاً، وتصبح عظامه أقوى، وجهازه المناعي، ويواصل النمو والتطور إلى أن يشِّب.</p>
            <p class="py-1">2-	يعرف الحمل بأنّه مرحلة مؤقتة يحدث فيها إخصاب، ونضوج جنين أو أكثر داخل رحم الأم، بحيث يستمرّ هذا الحمل مدّة تسعة أشهر، ويتم البدء بحساب هذه الفترة بعد مرور 14 يوماً من اليوم الأول لآخر دورة شهرية، وتعد هذه الأشهر الأكثر سعادةً في حياة كل امرأة.</p>
            <p class="py-1">3-	الحمل العادى هو عبارة قيام حيوان منوى بتلقيح بويضة واحدة نتج عنها حدوث الحمل فى جنين واحد سواء ذكر أم أنثى بالتالى تبدأ ظهور أعراض الحمل على المرأة من خلال إفراز هرمون الحمل الذى يقوم بتنشيط القىء والغثيان داخل المخ ما يترتب عليه ظهور أعراض الحمل العادى فى صورة ميول المرأة للقيء والغثيان فترة الحمل خاصة بدايته.</p>
            <button class="btn btn-danger my-4 px-3 btn-circled" (click)="back()">
                رجوع
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
       
    </div>
</div>