<div class="container py-5">
    <div class="row" dir="rtl">
        <div class="col-md-5 col-12 pb-4">
            <img src="assets/img/services/nopain.jpg" width="100%"  alt="no pain image">
        </div>
        <div class="col-md-7 col-sm-12 text-md-right text-center">
            <h2>عمليات الولادة بدون ألم</h2>
            <p class="">
                تجرى عن طريق التخدير النصفى بحقن منطقة فوق الجافية
                ويلغى الألم نهائيا خلال الولادة بداية من الطلق إلى إنجاب الطفل، ويتم وضعها فى الظهر ويستخدمها دكتور تخدير متخصص يكون معها طوال وقت الولادة كله. هذا النوع من التخدير يقوم على إلغاء الإحساس بالألم فقط، لكن ليس الأعصاب المسئولة عن حركة السيدة المختلفة، لذلك تبدو أنها فى كامل وعيها وسيطرتها على جسمها ولكنها تفقد الإحساس بأى شىء.
            </p>
            <button class="btn btn-danger my-4 px-3 btn-circled" (click)="back()">
                رجوع
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
       
    </div>
</div>