
.container p:first-child{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 40px;
    font-family: system-ui;
    font-weight: 600;
    color: crimson;
}
.mydiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    position: relative;
    width: 15rem; 
    height: 16rem;
    transform-style: preserve-3d;
    transition: transform 1s;
   
}
.box:hover{
    transform: rotateY(-180deg);
    cursor: pointer;
  transition-delay: .25s;
}
.box .face{
    position: absolute;
 
    backface-visibility: hidden;
}
.box .front{
    background-color: #CB759F;
    color: white;
}
.box .back {
    /* background-color: tomato; */
   /* background-image: url("/assets/img/n1.jpg");
   background-size: cover; */

    transform:rotateY(180deg); /* دي عشان اخليه في الخلفيه هو مش يبان ف الاول */
}

