.headet-top , .navbar-collapse ul li a.active , .navbar-collapse ul li a:hover{
    background-color: #e64a74;
}

.bg-light {
    background-color: #5a031d !important;
    position: sticky;
    top:0;
    z-index: 10000;
}

.location-div a:hover ,.mob-div a:hover{
    color: #e64a74 !important;
    text-decoration: none;
    font-weight: bold;
}
.navbar-collapse ul li a {
    color: navajowhite;
    padding: 8px 16px;
    font-size: 18px;
    font-weight:bold;
}
