<div class="headet-top py-2 text-white">
    <div class="container">
        <div class="row">
            <div class="col-md text-center text-md-left">
                <!-- <span>تابعونا علي فيس بوك</span> -->
                <a target="_blank" href="#">
                    <i style="font-size: 18px;" class="fa fa-twitter text-white p-1"></i>
                </a>
                <a href="">
                    <i class="fa fa-youtube text-white p-1"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/aya.haggag.79">
                    <i class="fa fa-facebook text-white p-1"></i>
                </a>
            
                <a href="tel:010924433">
                    <i class="fa fa-whatsapp text-white p-1"></i>
                </a>
            
                <a href="">
                    <i class="fa fa-instagram text-white p-1"></i>
                </a>
            </div>
            <div class="col-md text-center text-md-right">
                <span class="pr-2"> من السبت للخميس من السادسة مساءا للعاشرة مساءا</span>
                <i class="fa fa-clock-o text-white"></i>
            </div>
        </div>

    </div>
</div>

<div class="upper-bar p-4 bg-white" dir="rtl">
    <div class="container">
        <div class="row ">
            <div class="col-md-4">
                <img src="/assets/img/logo.jpeg" alt="logo image" width="100%">
            </div>
            <!-- <div class="mob-div col-md-4 col-sm-12 text-center">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-sm-12 text-center text-md-left p-0">
                        <i class="fa fa-phone-square" aria-hidden="true" style="font-size: 30px;color:#e64a74;"> </i>
                    </div>
                    <div class="col-md-6 col-sm-12 col-sm-12  text-center text-md-right">
                        <h5><a href="tel:010924433">الهاتف </a></h5>
                        <h6><a href="tel:0109224433"> 010924433</a></h6>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4 col-sm-12 py-2 d-flex justify-content-center" >
                <div>
                    <i class=" fa fa-phone-square" style="font-size: 30px;color:#e64a74;"> </i>
                </div>
                <div class="mob-div text-right px-3">
                    <h5><a class="text-dark" href="tel:010924433">الهاتف </a></h5>
                    <h6><a class="text-dark" href="tel:0109224433"> 010924433</a></h6>
                </div>
            </div>

            <div class="location-div col-md-4 col-sm-12 text-center ">
                <i class="fa fa-map-marker pl-2"  style="font-size: 30px;color:#e64a74;"> </i>
                <a class="text-dark" href="https://goo.gl/maps/7X21Lk652ZHfAty5A" target="_blank"> القناطر الخيرية - القليوبية</a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <!-- <a class="navbar-brand" href="#">Aya Haggag</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto" dir="rtl">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home">الرئيسية <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about-DrAya">نبذة عن د.آيه</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    التخصصات التي يعالجها المركز
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">متابعة الحمل </a>
                    <a class="dropdown-item" href="#">ولادةبدون ألم </a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" href="#"> الفحص المبكر للأورام </a>
                    <a class="dropdown-item" href="#">علاج العقم </a>
                    <a class="dropdown-item" href="#">تنظيم الاسرة</a>
                    <a class="dropdown-item" href="#">الحقن المجهري </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contactUs">إتصل بنا </a>
            </li>
        </ul>

    </div>
</nav>