<div class="container my-5">
    <div class="row">
        <div class="col-md-5 col-12">
            <img class="animate__animated animate__fadeInLeft" src="assets/img/doctor.jpg" width="100%" alt="doctor Aya">
        </div>
        <div class="col-md-7 col-12 text-right">
            <h3 class="pt-4 animate__animated animate__fadeInRight"> دكتورة آيـــة حـــــسن حجـــــاج  </h3>
            <!-- <span class="mb-5 text-center text-danger"> (أخصائي نساء وتوليد)</span> -->
            
            <!-- <p>بكالوريوس في الطب والجراحة</p> -->
            <p dir="rtl">الدكتورة آية حسن (اخصائي أمراض النساء و التوليد) لديها الخبرة في علاج مختلف أمراض النساء و التوليد حيث عملت الطبيبة بمستشفي بنها الجامعي ومستشفيات وزارة الصحة .</p>
            <p dir="rtl">تقوم الدكتورة آيــــــة بمتابعة الحمل العادي و الحمل الخطر و أيضاً الولادة بدون ألم والفحص المبكر للأورام. بجانب ذلك فالدكتورة آيــــــة حـــجـــاج لديها خبرة  بعلاج العقم و متابعة التبويض ولها خبرة واسعة بوسائل منع الحمل وتنظيم الأسرة وتركيب اللولب النحاسي والهرموني و علاج الإلتهابات المهبلية الحادة والمزمنة, والكشف بالعيادة يتم بالموجات الصوتية (أشعة السونار) .</p>
            <h2 dir="rtl">التخصصات :</h2>
            <ul dir="rtl">
                <li>متابعة الحمل والولادة </li>
                <li>عمليات الولادة الطبيعية</li>
                <li>عمليات الولادة القيصرية</li>
                <li>إزالة الأكياس من المبايض</li>
                <li>علاج تأخر الإنجاب والعقم</li>
                <li>متابعة حالات الحمل شديدة الخطورة بأدق أجهزة السونار</li>
            </ul>
        </div>
    </div>
</div>