h2 , h3{
    color: #e64a74 !important;
    font-family: 'Cairo','Open Sans', sans-serif;
    font-weight: 700;
}
p{
    font-size: 18px;
}
.btn-circled{
    border-radius: 25px;
    font-size: 16px;
}
i{font-size: 10px;}