
i , h2{color: #e64a74;}
a{
    text-decoration: none ;
}
.ng-invalid .ng-touched{
    border: 1px solid red;
}

.form-control.ng-touched.ng-dirty.ng-valid{
    border: 1px solid green !important;
}

.topDown{
    /* animation:  movebounce 5s linear infinite; */
    animation-name: movebounce;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* السطر ده عشان تطلع وتنزل بانسيابيه  */
    animation-direction: alternate; 
    position: absolute;
}

@keyframes movebounce {
    from{
        transform:translateY(-10px);

    }
    to{
        transform:translateY(100px);
    }
}
@media (max-width: 768px) {
    @keyframes movebounce {
        from{
            transform:translateY(-1px);
    
        }
        to{
            transform:translateY(50px);
        }
    }
    .topDown{width: 90px;}   
}

/* .back {
    animation-name: rotateme;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    left:100px;
    bottom: -10px;
}

@keyframes rotateme{
    from{
        transform: rotate(0);
    }
    to{
       transform: rotate(360deg);
    }   
} */
