<div class="container py-5">
    <div class="row" dir="rtl">
        <div class="col-md-5 col-12 pb-4">
            <img src="assets/img/services/takhor.jpg" width="100%"  alt="no pain image">
        </div>
        <div class="col-md-7 col-sm-12 text-md-right text-center">
            <h2> تــأخـر الإنـجــاب</h2>
           <p>في بداية الزواج قد يستغرق الحمل بعض الوقت، ولكن بعد مرور مزيداً من الوقت قد تبدأ في القلق تأخر الإنجاب مما يستدعي مراجعة الطبيب.</p>
            <p>
                هناك بعض الأسباب لتأخر الإنجاب يمكن علاجها بسهولة، فعوامل مثل نوعية النظام الغذائي والحيوانات المنوية للزوج يمكن أن يكونان عاملان مهمان في زيادة الخصوبة.
            </p>
            <h6>كيف يتم تحديد الحاجة إلى علاج لتأخر الإنجاب؟ </h6>
            <p>يمكن من خلال الفحوصات والأشعة والتحاليل التي تجريها دكتورة آية حسن حجاج، اخصائي جراحة أمراض النساء والتوليد وعلاج تأخر الإنجاب، تحديد السبب بدقة أو التأكد من عدم وجود موانع من الحمل والاعتماد على تنشيط البويضات فقط من خلال المتابعة في العيادة</p>
           <button class="btn btn-danger my-4 px-3 btn-circled" (click)="back()">
                رجوع
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
       
    </div>
</div>