
<div class="container">
    <h2 class="text-center pt-2">نصائح طبيه </h2>
    <div class="row text-center pt-5">
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="box">
                <div class="front">
                    <div class="card-body">
                        <h5>أفضل منشط للمبايض</h5>
                        <p> تنشيط المبايض من الأساليب التي يلجأ إليها الأطباء من أجل زيادة فرصة
                            الإنجاب، فالمبايض التي تعاني من الضعف تكون عاملا أساسيا في عدم</p>
                        <a routerLink="/tip/منشط-المبايض" class="btn btn-primary">إقرأ المزيد</a>
                    </div>
                </div>
                <div class="back">
                    <div class="card-body" style="background-image: url('/assets/img/n1.jpg');background-size: cover;">
                        <a style="margin-top: 170px;" routerLink="/tip/منشط-المبايض" class="btn btn-primary">إقرأ المزيد</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3  col-sm-6 col-12">
            <div class="box ">
                <div class="front">
                    <div class="card-body">
                        <h5> أعراض ضعف المبايض</h5>
                        <p>
                            قبل الحديث عن افضل علاج لتنشيط المبايض، لابد أن تعلمي عزيزتي أن هناك العديد من الأعراض التي
                            قد تحدث لكِ وتبيّن أن الأمر
                            يحتاج إلى
                        </p>
                        <a routerLink="/tip/ضعف-المبايض" class="btn btn-primary">إقرأ المزيد</a>
                    </div>
                </div>
                <div class="back">
                    <div class="card-body" style=" background-image: url('/assets/img/n2.jpg');background-size: cover;">
                        <a style="margin-top: 170px;" routerLink="/tip/ضعف-المبايض" class="btn btn-primary">إقرأ المزيد</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3  col-sm-6 col-12">
            <div class="box ">
                <div class="front">
                    <div class="card-body">
                        <h5> الإجهاض وأعراضه</h5>
                        <p>
                            تمر الأم الحامل بالعديد من الهواجس التي تمر في ذهنها عن الحمل والأعراض التي تدل على خطورة
                            الوضع – لا قدر الله- فطوال
                            فترة الحمل تبحثين
                        </p>
                        <a routerLink="/tip/أعراض-الإجهاض" class="btn btn-primary">إقرأ المزيد</a>
                    </div>
                </div>
                <div class="back">
                    <div class="card-body" style=" background-image: url('/assets/img/n3.jpg');background-size: cover;">
                        <a style="margin-top: 170px;" routerLink="/tip/أعراض-الإجهاض" class="btn btn-primary">إقرأ المزيد</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3  col-sm-6 col-12">
            <div class="box ">
                <div class="front">
                    <div class="card-body">
                        <h5> متابعة الحمل مع طبيبة</h5>
                        <p>
                            هناك فائدة كبيرة لـ متابعة الحمل اسبوع باسبوع فرحلة الحمل هي رحلة شاقة ومجهدة على الأم بكل
                            معنى الكلمة ، ولكن مع بعض الاحتياطات .
                        </p>
                        <a class="btn btn-primary" routerLink="/tip/أهمية-متابعة-الحمل-مع-طبيبة">إقرأ المزيد</a>
                    </div>
                </div>
                <div class="back">
                    <div class="card-body" style=" background-image: url('/assets/img/n4.jpg');background-size: cover;">
                        <a style="margin-top: 170px;" class="btn btn-primary"
                            routerLink="/tip/أهمية-متابعة-الحمل-مع-طبيبة">إقرأالمزيد</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>