<div class="container py-5">
    <div class="row" dir="rtl">
        <div class="col-md-5 col-12 pb-4">
            <img src="assets/img/services/mana.jpg" width="100%"  alt="no pain image">
        </div>
        <div class="col-md-7 col-sm-12 text-md-right text-center">
            <h2>وسائل منع الحمل </h2>
            <p>من حقك أن تريدي منع أو تأخير الحمل والتمهل قبل التفكير في إنجاب طفل آخر لما في الحمل من تعب ولما تحتاجه التربية من مجهود ووقت يتم الحمل نتيجة التقاء الحيوان المنوي للذكر ببويضة الأنثى وتخصيبها، ومنع الحمل يعتمد على ثلاث طرق إما:
                – بمنع الحيوان المنوي من الالتقاء بالبويضة، أو بمنع إفراز البويضات عند الأنثي أو منع البويضة المخصبة من الالتصاق بجدار الرحم، هناك صورتين أو طريقتين لتأخير أو منع الحمل إما عن طريق الاستعانة بوسيلة خارجية لمساعدتك أو باستخدام طريقة طبيعية</p>
            
            <h2 class="pt-4">طرق منع الحمل المختلفة (الطبيعية وغيرها)</h2>
            <p>سميت هذه الوسائل بالطبيعية لإنه يمكن تنفيذها دون الحاجة لاستخدام أي أدوات خارجية سواء حبوب أو هرمونات، وأبرز هذه الطرق:
                منع الحمل باعتماد التقويم: تعتمد هذه الطريقة على تجنب حدوث أي اتصال جنسي بين الرجل والمرأة في فترة الإباضة أو التبويض عند المرأة ويمكنك حساب ومعرفة هذه اليوم بحفظ اليوم الأول الذي أتتك فيه الدورة الشهرية، ويكون يوم الإباضة من اليوم 11- 21 أو 12-16 إذا ما كانت دورتك منتظمة، وهناك العديد من المواقع أو التطبيقات التي تساعدك في تحديد هذا اليوم كل ما عليك هو إدخال تاريخ اليوم الأول من دورتك الشهرية
            </p>
            <p>العزل: تعتمد هذه الطريقة على تجنب وصول السائل المنوي للمهبل لأن وصول ولو جزء بسيط يجعل احتمالية حدوث حمل عالية، ويمكن تطبيق هذه الطريقة عن طريق سحب الرجل لعضوه الذكري من المهبل قبل حصول القذف
            </p>

            <h2 class="pt-4">طرق منع الحمل الأخرى</h2>
            <p>– اللولب الرحمي: هو جهاز أو أداة بلاستيكية تأخذ شكل حرف ال T يتم إدخاله في الرحم من قبل الطبيب أو المريضة المختصة لتجنب حدوث حمل ويمتد مفعوله لسنين طويلة و يوجد منه نوعان:– اللولب النحاسي ويعتمد في طريقة عمله على منع انغراس البويضة المخصبة في الرحم
            </p>
            <p>
                – اللولب الهرموني: يقوم اللولب الهرموني بإفراز هرمون البروجسترون، مما يزيد من نسبة المخاط في عنق الرحم مما يؤدي لمنع وصول الحيوانات المنوية للبويضة وبالتالي عدم تخصيبها
            </p>
            <p>
                الطرق الهرمونية: تعتمد هذه الطرق على الهرمونات لمنع حدوث الحمل، ويمكن إدخال الهرمونات لجسم السيدة بالعديد من الطرق مثل: الحبوب، الحقن، اللصقات الجلدية، والحلقات المهبلية أو اللولب الهرموني، وبناءا على الهرمون المستخدم تعمل الوسيلة إما علي منع حدوث الإباضة أو زيادة مخاط عنق الرحم.. من هذه الطرق:
            </p>
            <p>
                – الحُقن: والهرمون المستخدم هو البروجيستين الذي يحقن في الذراع أو الأرداف مرة كل 3 شهور
            </p>
            <p>
                – حبوب البروجستين فقط: من اسمها فإن الهرمون المستخدم هو البروجستين الذي يعمل على التأثير في عملية الإباضة أو وظيفة الحيوان المنوي
            </p>
            <p>
                – حبوب منع الحمل المركبة: وهذه الحبوب تحتوي على هرموني الاستروجين والبروجيستين اللذان يعملان على تثبيط الإباضة
            </p>
            <p>
                – عمليات التعقييم: يمكن إجراء هذه العملية إما للرجل أو المرأة; للرجل عن طريق قطع القناة المنوية ،وللمرأة عن طريق ربط أنبوب فالوب
            </p>
            <p>
                بعض السيدات قد تشعر بالضيق من فكرة الحقن أو استخدام وسيلة عن طريق المهبل فهل هناك طريقة أخرى لمنع الحمل بالنسبة لهم ؟
            </p>
            <button class="btn btn-danger my-4 px-3 btn-circled" (click)="back()">
                رجوع
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
        
    </div>
</div>