<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4 pt-2 card-img d-flex  justify-content-center   align-items-center">
            <img class="rounded-circle" src={{imageSrc}} alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-right">{{header}}</h5>
                <p class="card-text">{{description}}</p>
                <button class="btn btn-danger text-right"  routerLink='{{buttonLink}}'>إقرأ المزيد</button>
            </div>
        </div>
    </div>
</div>