
.no-gutters{
    background-color: antiquewhite;
}
h5{
    color: brown !important;
}
.no-gutters:hover{
    background-color:palevioletred;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(160, 55, 55, 0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
    transform: translateY(-5px);
}
.btn-danger{
    border-radius: 20px;
}
