li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
 }
 li.active{
    background-color: #5a031d;
 }

 img{
   opacity: .6;
 }
 
 .h{
   font-weight: bold;
 }
 span{
  filter: contrast(0.5);
  filter: drop-shadow(2px 4px 6px black);
 }
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){ 
   .h{
      font-size: 55px !important;
      color: #5a031d !important;
      font-family: inherit !important;
      font-weight: bold !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      bottom: 500% !important;
      position: absolute;
      width: 90%;
      /* left: 20%; */
   }
   span:hover{
    height: 35px !important;
    width: 35px !important;
   }
 }


 .loading { 
   position: absolute;
    content: '';
    height: 10px;
    background-color: #5a031d;
    right: 0;
    animation-name: loadingLine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
 }
 #first-carousle:hover ~ #loading { 
   animation-play-state: paused;
  }
 @keyframes loadingLine {
   from {
      width: 10%;
   }
   to{
      width: 100%;
   }
 }

 @media (max-width: 768px){
  .loading{
    height:2px !important;
    /* display: none; */
  }
}



/*  
 .test{
   display: flex;
   margin: auto;
   position: relative;
   top: 20px;
 }

 .test:hover .hend{
 position: absolute;
    content: '';
    height: 100%;
    animation-name: loadingLine;
    animation-duration: 1s;
    background-color:rgb(140, 140, 138);
    right: 0;
    opacity: 0.2;
 } */
 /* .test:hover .hend{
   animation-play-state: paused;
 } */