li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
 }
 li.active{
    background-color: #5a031d;
 }

 img{
   opacity: .8;
 }
 
 
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   .h{
      font-size: 40px !important;
      color: #5a031d !important;
      font-family: inherit !important;
      font-weight: bold !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      bottom: 250% !important;
      position: absolute;
      width: 80%;
      left: 20%;
   }
 }


 .loading { 
   position: absolute;
    content: '';
    height: 10px;
    background-color: #5a031d;
    right: 0;
    animation-name: loadingLine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
 }
 #one:hover ~ #loading { 
   animation-play-state: paused;
  }
 @keyframes loadingLine {
   from {
      width: 4%;
   }
   to{
      width: 100%;
   }
   
 }