<div class="tip3 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm">
                <img src="/assets/img/n2.jpg" alt="" width="100%">
            </div>
            <div class="col-md-7 col-12 text-center text-md-right">
                <h2>ما هى علامات الاجهاض المنذر وما هي أعراضه </h2>
                <p>تمر الأم الحامل بالعديد من الهواجس التي تمر في ذهنها عن الحمل والأعراض التي تدل على خطورة الوضع – لا
                    قدر الله- فطوال
                    فترة الحمل تبحثين على شبكة الإنترنت أو تسألي طبيبك الخاص عن بعض الأعراض، ومن ضمن الأمور المخيفة لكل
                    أم أن يتعرض
                    جنينها للخطر بما يعرف طبياً بالإجهاض، في هذا المقال نلقي الضوء بالتفصيل عن الاجهاض المنذر واعراضه،
                    وأسبابه والطرق العلاجية المتبعة في إنقاذ الأم والجنين.

                </p>
            </div>
        </div>
        <div class="row row2 pt-5 " dir="rtl">
            <div class="col-md-8 col-12 text-center text-md-right">
                <h2>الاجهاض المنذر واعراضه .. 7 علامات خطيرة تنذر بوجود مشاكل للجنين</h2>
                <p>الاجهاض المنذر هو المعاناة من بعض العلامات والأعراض التي تنذر بوجود مشكلات يعاني منها الجنين داخل
                    الرحم،
                    وهي
                    علامات وأمور تنذر بسقوط الحمل، لذلك عليكِ السرعة في الذهاب للطبيب المتخصص حتى لا يحدث الإجهاض.

                </p>
            </div>
        </div>
        <div class="row row3">
            <div class="col-md-5 col-12">
                <img width="100%" src="/assets/img/n3.jpg" alt="">
            </div>
            <div class="col-md-7 col-12 text-center text-md-right">
                <h2>فما علامات الاجهاض المنذر واعراضه.. هذا ما نتعرف عليه في النقاط التالية، فانتبهي جيداً عزيزتي:
                </h2>
                <ul>
                    <li>إذا حدث نزيف شديد من المهبل أو نزول الدم بشكل متقطع.
                    </li>
                    <li>
                        حدوث تشنجات خطيرة في منطقة أسفل البطن، سواء كانت تلك التشنجات متقطعة أو مستمرة.
                    </li>
                    <li>الشعور بآلام شديدة في منطقة أسفل الظهر، وفي بعض الأحيان لا تكون إلا آلام متوسطة أو خفيفة.
                    </li>
                    <li>
                        الضعف والهزال الشديد في الجسم يصاحبه بعض أعراض الدوار والدوخة.

                    </li>
                    <li>الشعور بالغثيان أو حدوث قىء يصاحبه إسهال مستمر.
                    </li>
                    <li>نزول دم متجلط من المهبل.
                    </li>
                    <li>قد يحدث حمى أو ارتفاع درجة حرارة الجسم، وقد يكون الارتفاع متوسط أو شديد في بعض الأحيان.
                    </li>
                    <li>إذا تعرضتِ إلى علامات الاجهاض المنذر واعراضه السابقة، فلابد من الذهاب فوراً إلى الطبيب المتخصص.
                    </li>
                </ul>
            </div>

        </div>
        <div class="row pt-5 text-center row4">
            <div class="col-12 text-center text-md-right">
                <h2>الاجهاض المنذر اسبابه وعلاجه</h2>
                <p>علامات الاجهاض المنذر التي تعرفنا عليها من السطور السابقة عديدة وخطيرة تستدعي بالفعل أن تذهبي إلى
                    الطبيب
                    على الفور،
                    ولكن يتبادر إلى الذهن عن أسباب الإجهاض لكي تحذري حدوثه، لذلك في النقاط التالية نتعرف على الاجهاض
                    المنذر
                    اسبابه وعلاجه</p>
            </div>

        </div>
        <div class="row pt-5 ">
            <div class="col-12 text-center text-md-right">
                <h2> الأسباب التي تؤدي إلى الإجهاض المنذر</h2>
                <ul>
                    <li>
                        الإصابة بفقر الدم أو الأنيميا الحادة ونقص الحديد من الأسباب التي تؤدي إلى الإجهاض المنذر.

                    </li>
                    <li>نوبات القلق والتوتر وعدم الاستقرار النفسي قد يؤدي إلى الإجهاض.
                    </li>
                    <li>الأم المدخنة أو التي تتناول الكحوليات تتعرض للاجهاض المنذر بشكل أكبر من الأم التي لا تدخن أو
                        تعاقر الخمر.
                    </li>
                    <li>تعرض الأم لحادث عنيف أو ضربات قوية في أسفل الظهر أو البطن، أو ممارستها لرياضة عنيفة أو بذل مجهود
                        عنيف مثل حمل الأشياء الثقيلة.
                    </li>
                    <li>قد يكون عمر الأم عاملاً وسبباً في الاجهاض المنذر مثل أن يكون عمرها دون الثامنة عشر أو أكبر من سن
                        الأربعين.
                    </li>
                    <li>إصابة الحامل بعدم الاستقرار الهرموني في الجسم أثناء الحمل مثل الاضطراب في هرمونات المبيضين أو
                        الاضطراب في وظائف كل من الغدة الدرقية أو النخامية.
                    </li>
                    <li>قد يكون الإصابة ببعض الأمراض المناعية المزمنة يكون سبباً في الاجهاض المنذر مثل مرض الذئبة أو
                        الإيدز أو الإصابة بأمراض أخرى مثل القلب والكبد.
                    </li>
                </ul>
            </div>

        </div>
        <div class="row pt-5 ">
            <div class="col-12 text-center text-md-right">
                <h2>أما علاج الاجهاض المنذر فيتمثل في</h2>
                <ul>
                    <li>عوامل وقائية
                    </li>
                    <li>تجنب التدخين أو تناول الكحوليات.
                    </li>
                    <li>تجنب حمل الأشياء الثقيلة أو بذل مجهود أو ممارسة رياضة عنيفة.
                    </li>
                    <li>تناولي بانتظام حمض الفوليك في الأشهر الثلاثة بعد معرفتك بالحمل، وقد يكون من الأفضل تناول أقراص
                        الفوليك قبل الحمل.
                    </li>
                    <li>تناول الغذاء الصحي بشكل يومي مثل الفواكه والخضروات والحبوب الكاملة وتناول العصائر الطبيعية
                        والمياه بإستمرار.
                    </li>
                    <li>تجنبي التوتر والقلق والنوبات العصبية قدر الإمكان أثناء شهور الحمل.
                    </li>
                    <li>احصلي على قسط وافر من النوم والراحة خاصة عند بذل مجهود يومي غير طبيعي.
                    </li>
                </ul>
            </div>

            <div class="row pt-5">
                <div class="col-12 text-center text-md-right">
                    <h2>
                        عوامل علاجية بعد حدوث الاجهاض المنذر
                    </h2>
                    <p>إذا حدث الاجهاض المنذر – لا قدر الله- فإن العلاج المثالي والوحيد لعدم حدوث مضاعفات في الرحم أو
                        الجسم، وذلك من خلال عملية الكحت والتي
                        تعمل على توسيع عنق الرحم، وذلك من أجل التخلص من بطانة الرحم الزائدة التي حدثت بعد حدوث الاجهاض
                        المنذر.

                    </p>
                    <p>
                        قد لا تتعرض الأم لعملية الكحت، وذلك لأن الطبيب قد يرى أنه لا داعي لها، وهنا يأتي دور الأدوية
                        والمضادات الحيوية التي تعمل على علاج الرحم وتنظيفه،
                        وحمايته من الفيروسات والبكتريا الخطيرة التي قد تحدث بعد حدوث الاجهاض المنذر.
                    </p>
                    <p>
                        تعرفنا في هذه السطور على الاجهاض المنذر اسبابه وعلاجه، كذلك علامات الاجهاض المنذر لكي تحذر الأم
                        منذ حدوث هذه الأعراض، وتذهب الى
                        دكتورة نساء وتوليد من أجل العلاج الفوري.


                    </p>
                </div>
            </div>
        </div>
    </div>
</div>