<div class="container py-5">
    <div class="row" dir="rtl">
        <div class="col-md-5 col-12 pb-4">
            <img src="assets/img/services/eghad.jpg" width="100%"  alt="no pain image">
        </div>
        <div class="col-md-7 col-sm-12 text-md-right text-center">
            <h2>ما هو الإجهاض </h2>
            <p>الإجهاض هو فقدان الحمل تلقائيا قبل الأسبوع العشرين أي في الأشهر الأولى للحمل تقريبا ويحدث في الغالب في حوالي  10 إلى 20%

                من حالات الحمل بالإجهاض لكن تلك هي النسبة التي تم إحصاؤها ، فقد يحتمل أن عدد عمليات الإجهاضأكبر من تلك النسبة و ذلك لأنه
                
                قد يحدث الإجهاض للمرأة الحامل دون إدراكها بوجود حمل من الأساس.في الغالب تحدث</p>
                
                <h2>ماذا عن الحمل  بعد الإجهاض :</h2>

                <p>من الممكن الحمل بعد الإجهاض بفترة . ولكن عند اتخاذ قرار الحمل مرة أخرى فيجب التأكد من التجهيز البدني و النفسي.

                    اطلبي من الطبيب الإرشادات اللازمة  بشأن متى يمكنكي الحمل مرة أخرى
                    
                    و يجب العلم أن في معظم الأحيان يحدث مرة واحدة فقط. فمعظم النساء اللاتي يتعرضن للإجهاض يحملن حملاً سليمًا بعد الإجهاض.
                    
                    ولا تتعرض سوى1 بالمائة فقط من النساء هن من يتعرضن للإجهاض ثلاث مرات متتالية أو أكثر.
                    
                    يوفر مركز الدكتورة سامية متابعة الحمل والولادة و متابعة حالات الحمل شديدة الخطورة بأدق أجهزة السونار كما يوفر علاج للاجهاض بأنواعه</p>
           <p>لمعرفة كافه التفاصيل عن الاجهاض وتجنبه والتخلص منه بادري بالحجز مع الدكتورة آيه حسن حجاج من أشطر دكاترة النساء والتوليد</p>
            <button class="btn btn-danger my-4 px-3 btn-circled" (click)="back()">
                رجوع
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
       
    </div>
</div>