<div class="footer mt-3 text-white" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12 my-5  text-center text-md-right">
                <img width="90" height="90" class="rounded-circle d-flex m-auto" src="assets/img/aya1.jpeg" alt="logo">
                <p class="description mt-3"> عيادة دكتورة آية حـــجــاج أخصائية أمراض النساء والتوليد، إذا كنت
                    تبحث عن دكتورة
                    امراض نساء وتوليد تطمئن لها، فأنت في المكان الصحيح، دكتورة آية عندها الخبرة في علاج
                    أمراض النساء والتوليد، ومتابعة الحمل العادي والخطر، وعلاج العقم وعلاج تأخر الانجاب، ، وهو ما يجعلها
                    واحدة من افضل دكاترة النساء والتوليد .
                </p>
                <p class="location">
                    <i class="fa fa-map-marker"></i>
                    <a class="text-white" target="_blank" href="https://goo.gl/maps/7X21Lk652ZHfAty5A">القناطر الخيرية -القليوبية </a>
                </p>
                <p class="phone">
                    <i class="fa fa-phone"></i>
                    <a class="text-white" target="_blank" href="tel: 01098024433">01098024433</a>
                </p>
            </div>
            <div class="col-md-3 col-12 my-5  text-right">
                <h5 class="line">روابط هـــامة</h5>
                <ul class="list-unstyled mt-5 p-0">
                    <li><a class="text-white" routerLink="home">الرئيسية </a></li>
                    <li><a class="text-white" routerLink="/contactUs">من نحن </a></li>
                    <li><a class="text-white" routerLink="">خدماتنا </a></li>
                    <li><a class="text-white" routerLink="/Aboutus">دكتورة آية </a></li>
                    <li><a class="text-white" routerLink="contactUs">اتصل بنا </a></li>
                </ul>
            </div>
            <div class="col-md-3 col-12 my-5 text-right">
                    <h5 class="line">خدمــاتـنـا</h5>
                <ul class="list-unstyled mt-5 p-0">
                    <li><a class="text-white" routerLink= "/specialties/متابعة-الحمل">متابعة الحمل العادي والخطر </a></li>
                    <li><a class="text-white" routerLink= "/specialties/ولادة-بدون-آلام">الولادة بدون الم </a></li>
                    <li><a class="text-white" routerLink= "/specialties/تنظيم-الأسرة">تنظيم الأسره </a></li>
                    <li><a class="text-white" routerLink= "/specialties/تأخر-اللإنجاب"> تأخر اللإنجاب </a></li>
                    <li><a class="text-white" routerLink= "//specialties/الإجهــــاض">الإجهــــاض المتكرر </a></li>
                </ul>
            </div>
            <div class="col-md-3 col-12 times">
                <h5 class="line text-right">ساعات العمل</h5>
                <div class="mt-5 pt-3">
                    <div class="d-flex justify-content-between timers pt-1">
                        <p>السبت</p>
                        <p>6.00م - 10.00م</p>
                    </div>
                    <div class="d-flex justify-content-between timers pt-1">
                        <p>الأحد</p>
                        <p>6.00م - 10.00م</p>
                    </div>
                    <div class="d-flex justify-content-between timers pt-1">
                        <p>الأثنين</p>
                        <p>6.00م - 10.00م</p>
                    </div>
                    <div class="d-flex justify-content-between timers pt-1 ">
                        <p>الثلاثاء</p>
                        <p>6.00م - 10.00م</p>
                    </div>
                    <div class="d-flex justify-content-between timers pt-1">
                        <p>الأربعاء</p>
                        <p>6.00م - 10.00م</p>
                    </div>
                    <div class="d-flex justify-content-between timers pt-1">
                        <p>الخميس</p>
                        <p>6.00م - 10.00م</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright  -->
<!-- <div class="Copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center text-sm-left text-uppercase">
                Copy 2022 EliteCrop &copy; All Right Reserved
            </div>
        </div>
    </div>
</div>  -->
