<div class="headet-top py-2 text-white">
    <div class="container">
        <div class="row">
            <div class="col-md text-center text-md-left">
                <!-- <span>تابعونا علي فيس بوك</span> -->
                <a target="_blank" >
                    <i class="fa fa-twitter text-white p-1"></i>
                </a>
                <a href="">
                    <i class="fa fa-youtube text-white p-1"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/aya.haggag.79">
                    <i class="fa fa-facebook text-white p-1"></i>
                </a>
                <a href="tel:010924433">
                    <i class="fa fa-whatsapp text-white p-1"></i>
                </a>
                <a href="">
                    <i class="fa fa-instagram text-white p-1"></i>
                </a>
            </div>
            <div class="col-md text-center text-md-right">
                <span class="pr-2 fs"> من السبت للخميس من السادسة مساءا للعاشرة مساءا</span>
                <i class="fa fa-clock-o text-white"></i>
            </div>
        </div>
    </div>
</div>

<div class="upper-bar py-3 bg-white" dir="rtl">
    <div class="container">
        <div class="row ">
            <div class="col-md-4">
                <img src="assets/img/logo.jpeg" alt="logo image" width="100%">
            </div>
            <div class="col-md-4 col-sm-12 py-2 d-flex justify-content-center" >
                <div>
                    <i class=" fa fa-phone-square" style="font-size: 30px;color:#e64a74;"> </i>
                </div>
                <div class="mob-div text-right px-3">
                    <h5><a class="text-dark" href="tel:01098024433">الهاتف </a></h5>
                    <h6><a class="text-dark" href="tel:01098024433"> 01098024433</a></h6>
                </div>
            </div>

            <div class="location-div col-md-4 col-sm-12 text-center ">
                <i class="fa fa-map-marker pl-2"  style="font-size: 30px;color:#e64a74;"> </i>
                <a class="text-dark" href="https://goo.gl/maps/NhZJxQg8q1EjNGRr7" target="_blank"> القناطر الخيرية - القليوبية</a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
    <!-- <a class="navbar-brand" >Aya Haggag</a> -->
    <button class="navbar-toggler" id="collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto" dir="rtl">
            <li class="nav-item" (click)="closeNavbar()">
                <a class="nav-link text-sm-center" routerLink="/home" routerLinkActive="active">الرئيسية <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" (click)="closeNavbar()">
                <a class="nav-link" routerLink="about-DrAya" routerLinkActive="active">نبذة عن د / آيه</a>
            </li>
            <li class="nav-item dropdown" dir="rtl">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" routerLink="#" routerLinkActive="active">
                    التخصصات التي تقدمها العيادة 
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="closeNavbar()" >متابعة الحمل </a>
                    <a class="dropdown-item" (click)="closeNavbar()">ولادةبدون ألم </a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" (click)="closeNavbar()"> الفحص المبكر للأورام </a>
                    <a class="dropdown-item" (click)="closeNavbar()">علاج العقم </a>
                    <a class="dropdown-item" (click)="closeNavbar()">تنظيم الاسرة</a>
                    <a class="dropdown-item" (click)="closeNavbar()">الحقن المجهري </a>
                </div>
            </li>
            <li class="nav-item" (click)="closeNavbar()">
                <a class="nav-link" routerLink="/contactUs" routerLinkActive="active">إتصل بنا </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/l" routerLinkActive="active">تسجيل الدخول </a>
            </li> -->
        </ul>
    </div>
</nav>