<div class="specialty mt-5 pb-5 text-right">
    <h2 class="text-center py-5">التخصصات التي يعالجها المركز</h2>
    <!-- <img class="back" src="/assets/img/shape3.png" alt=""> -->
    <div class="container">
        <div class="row">
            <div class="col-md col-sm-12">
                <div class="card mb-3" style="max-width: 450px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 pt-2 card-img">
                            <img class="rounded-circle" src=" /assets/img/2.jpg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title text-right">الولاده بدون ألم</h3>
                                <p class="card-text">تزيد خبرة الدكتورة راوية (إستشارية أمراض النساء و التوليد)عن ثلاثون
                                    عاماً في علاج مختلف أمراض النساء و التوليد.</p>
                                <button class="btn btn-danger text-right">إقرأ المزيد</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md col-sm-12">
                <div class="card mb-3" style="max-width: 450px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 pt-2 card-img">
                            <img class="rounded-circle" src=" /assets/img/1.jpg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-right">متابعة الحمل العادي والخطر</h5>
                                <p class="card-text">تزيد خبرة الدكتورة راوية (إستشارية أمراض النساء و التوليد)عن ثلاثون
                                    عاماً في علاج مختلف أمراض النساء و التوليد.</p>
                                <button class="btn btn-danger">إقرأ المزيد</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-sm-12">
                <div class="card mb-3" style="max-width: 450px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 pt-2 card-img">
                            <img class="rounded-circle" src=" /assets/img/5.jpg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title text-right">تنظيم الأسرة</h3>
                                <p class="card-text">تزيد خبرة الدكتورة راوية (إستشارية أمراض النساء و التوليد)عن ثلاثون
                                    عاماً في علاج مختلف أمراض النساء و التوليد.</p>
                                <button class="btn btn-danger">إقرأ المزيد</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md col-sm-12">
                <div class="card mb-3" style="max-width: 450px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 pt-2 card-img">
                            <img class="rounded-circle" src=" /assets/img/3.jpg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title text-right">الفحص المبكر للأورام</h3>
                                <p class="card-text">تزيد خبرة الدكتورة راوية (إستشارية أمراض النساء و التوليد)عن ثلاثون
                                    عاماً في علاج مختلف أمراض النساء و التوليد.</p>
                                <button class="btn btn-danger">إقرأ المزيد</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-md col-sm-12">
                <div class="card mb-3" style="max-width: 450px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 pt-2 card-img">
                            <img class="rounded-circle" src=" /assets/img/6.jpg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title text-right">الحقن المجهري </h3>
                                <p class="card-text">تزيد خبرة الدكتورة راوية (إستشارية أمراض النساء و التوليد)عن ثلاثون
                                    عاماً في علاج مختلف أمراض النساء و التوليد.</p>
                                <button class="btn btn-danger">إقرأ المزيد</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md col-sm-12">
                <div class="card mb-3" style="max-width: 450px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 pt-2 card-img">
                            <img class="rounded-circle" src=" /assets/img/4.jpg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title text-right">علاج العقم</h3>
                                <p class="card-text">تزيد خبرة الدكتورة راوية (إستشارية أمراض النساء و التوليد)عن ثلاثون
                                    عاماً في علاج مختلف أمراض النساء و التوليد.</p>
                                <button class="btn  rounded-20 btn-danger">إقرأ المزيد</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>