<div class="specialty pb-5 text-right">
    <h3 class="text-center pb-4 pt-5 bold">خدمــاتــنــا</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6" *ngFor="let item of items">
                <span >
                    <app-specialycard [header]="item.header" [description]="item.description" 
                        [buttonLink]="item.buttonLink" [imageSrc]="item.imageSrc">
                    </app-specialycard>
                </span>
            </div>
          
        </div>
    </div>
</div>