<div class="specialty pb-5 text-right">
    <p class="text-center text-danger pb-2 ةt-5">خدمــات العــيــادة</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6" *ngFor="let item of items">
                <span >
                    <app-specialycard [header]="item.header" [description]="item.description" 
                        [buttonLink]="item.buttonLink" [imageSrc]="item.imageSrc">
                    </app-specialycard>
                </span>
            </div>
          
        </div>
    </div>
</div>