<div class="container py-5">
    <div class="row" dir="rtl">
        <div class="col-md-5 col-12 pb-4">
            <img src="assets/img/services/tanzeem.jpg" width="100%"  alt="no pain image">
        </div>
        <div class="col-md-7 col-sm-12 text-md-right text-center">
            <h2>تنظيم الأسرة</h2>
            <p class="py-1">تنظيم الأسرة هو اتفاق يوفر للزوجين الخيار المناسب للتحكم بموعد البدء بإنجاب الأطفال، وعددهم، والفترة الفاصلة بين الولد والآخر، ومتى يجب التوقف عن الإنجاب، كل حسب ظروفه ومقدرته، وبموافقة الزوجين معاً، وضمن الإطار الصحي الذي يركز على صحة الأم والطفل معا.</p>
            <p class="py-1"> إنّ تنظيم الأسرة هو عبارة عن أنشطة تربوية، أو اجتماعية، أو شاملة يقوم بها الأفراد من أجل تنظيم عملية الإنجاب، وتحديد مسافة زمنية بين كل طفل، وتُفيد هذه العملية الأم والأسرة كثيراً، فهي تُريج جسم الأم وتُعيد إليها النشاط والحيوية، وهناك العديد من الطرق التي يتم اتباعها من أجل تنظيم الأسرة، وسنتطرق في هذا المقال إلى الحديث عن فوائد تنظيم الأسرة لكل من الأطفال، والعائلة، والمجتمع، إضافة إلى الوسائل المستخدمة لذلك. </p>
            <button class="btn btn-danger my-4 px-3 btn-circled" (click)="back()">
                رجوع
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
       
    </div>
</div>