<!-- start footer -->
<!-- <div class="footer" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-md-right">
                <div class="site-info">
                    <h2>
                        <span>د/</span>
                        <span>آية حجاج</span>
                    </h2>
                    <p> مع دكتورة آية حجاج أنتي دائما في أمان طول فتره حملك </p>
                    <a href="#">إقرأي المزيد</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="helpfull-links">
                    <h4> helpfull links</h4>
                    <div class="row">
                        <div class="col" dir="rtl">
                            <ul class="list-unstyled">
                                <li>About</li>
                                <li>Portifolio</li>
                                <li>Team</li>
                                <li>Priking</li>
                                <li>Privacy</li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-unstyled">
                                <li>EAQ</li>
                                <li>Blog</li>
                                <li>How it Work</li>
                                <li>Benefits</li>
                                <li>contact</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="conntact">
                    <h4>contact</h4>
                    <ul class="list-unstyled">
                        <li>54958 levo Red Fort , US</li>
                        <li>Phone : 010-61099975</li>
                        <li>Emaile : <a href="maleto:haggag794@gmail.com">haggag794@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- end footer -->
<!-- start Copyright  -->
<!-- <div class="Copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center text-sm-left text-uppercase">
                Copy 2022 EliteCrop &copy; All Right Reserved
            </div>
            <div class="col-sm-6 text-center text-sm-right">
                <ul class="list-unstyled">
                    <li>
                        <a href=""><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-google"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
<!-- end Copyright  -->

<div class="footer mt-5" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12 mt-5 mb-5  text-center text-md-right">
                <img width="90" height="90" class="rounded-circle" src="assets/img/aya1.jpeg" alt="logo">
                <p class="description"> عيادة دكتورة آية حـــجــاج أخصائية أمراض النساء والتوليد، إذا كنت
                    تبحث عن دكتورة
                    امراض نساء وتوليد تطمئن لها، فأنت في المكان الصحيح، دكتورة آية عندها الخبرة في علاج
                    أمراض النساء والتوليد، ومتابعة الحمل العادي والخطر، وعلاج العقم وعلاج تأخر الانجاب، ، وهو ما يجعلها
                    واحدة من افضل دكاترة النساء والتوليد في مصر.
                </p>
                <p class="location">
                    <i class="fa fa-map-marker"></i>
                    <a target="_blank" href="https://goo.gl/maps/7X21Lk652ZHfAty5A">القناطر الخيرية -القليوبية </a>
                </p>
                <p class="phone">
                    <i class="fa fa-phone"></i>
                    <a target="_blank" href="tel: 010924433"> 010924433</a>
                </p>
            </div>
            <div class="col-md-3 col-12 mt-5 mb-5  text-right">

                <h5 class="line">روابط هـــامة</h5>
                <ul class="list-unstyled">
                    <li><a href="">الرئيسية </a></li>
                    <li><a href="">من نحن </a></li>
                    <li><a href="">خدماتنا </a></li>
                    <li><a href="">دكتورة آية </a></li>
                    <li><a routerLink="contactUs">اتصل بنا </a></li>
                </ul>
            </div>
            <div class="col-md-3 col-12 mt-5 mb-5  text-right">

                <h5 class="line">خدمــاتـنـا</h5>
                <ul class="list-unstyled">

                    <li><a href="">متابعة الحمل العادي والخطر </a></li>
                    <li><a href="">الولادة بدون الم </a></li>
                    <li><a href="">تنظيم الأسره </a></li>
                    <li><a href="">علاج العقم </a></li>
                    <li><a href="">الفحص المبكر للأورام </a></li>
                </ul>
            </div>
            <div class="col-md-3 col-12 mt-5 mb-5 text-right ">

                <h5 class="line">ساعات العمل</h5>
                <ul class="list-unstyled timers">
                    <li>
                        <span class="pull-right ">السبت </span>
                        <span class="pull-left ">6.00م - 10.00م</span>
                    </li>
                    <li>
                        <span class="pull-right ">الأحد </span>
                        <span class="pull-left ">6.00م - 10.00م</span>
                    </li>
                    <li>
                        <span class="pull-right ">الأثنين </span>
                        <span class="pull-left ">6.00م - 10.00م</span>
                    </li>
                    <li>
                        <span class="pull-right ">الثلاثاء </span>
                        <span class="pull-left ">6.00م - 10.00م</span>
                    </li>
                    <li>
                        <span class="pull-right ">الأربعاء </span>
                        <span class="pull-left ">6.00م - 10.00م</span>
                    </li>
                    <li>
                        <span class="pull-right ">الخميس </span>
                        <span class="pull-left ">6.00م - 10.00م</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>