<div class="tip2">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-5 col-12 text-center ">
                <img width="100%" src="assets/img/hamel.jpg" alt="hamel Image">
            </div>
            <div class="col-md-7 col-12 text-center text-md-right pt-4">
                <h2>مميزات متابعة الحمل مع طبيبة نساء وعيوبها </h2>
                <p>هناك فائدة كبيرة لـ متابعة الحمل اسبوع باسبوع فرحلة الحمل هي رحلة شاقة ومجهدة على الأم بكل معنى
                    الكلمة ، ولكن مع بعض الاحتياطات والاستجابة لتعليمات الطبيب، تكاد تلك المرحلة تمر مرور الكرام مع
                    متابعة الحمل بالسونار و نظراً لأن الفحص بالسونار أمناً على كل من الأم و الجنين.
                </p>
                <p>السونار يعتبر الحل الأمثل لمراقبة و متابعة حالة الجنين داخل رحم أمه طوال أشهر الحمل حيث يساعد في
                    تقييم نمو وسلامة الجنين ومتابعة أحداث تطور الحمل ، كما يُستخدم هذا الفحص أحيانا لاكتشاف بعض الحالات
                    المرضية والتشوهات الخلقية التي تصاب بها الأجنة ، يتم إجراء أول متابعة الحمل بالسونار غالباً في أشهر
                    الحمل الأولى لتأكيد حدوث الحمل وتوثيق تاريخه، ثم يتم إجراؤه مرة ثانية ما بين الأسبوع الـ18 و الـ 20
                    حيث تصبح أعضاء الجنين أوضح في الصور، ويمكن تكراره بحسب الحاجة طوال مدة الحمل.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-5 col-12 pb-4 d-flex align-items-center">
                <img width="100%" src="assets/img/ban4.jpg" alt="ban4 image">
            </div>
            <div class="col-md-7 col-12 text-center text-md-right">
                <h2>بعض الأسباب التي تستدعي متابعة الحمل شهر بشهر بالسونار </h2>
                <ul>
                    <li>تأكيد حدوث الحمل وتحديد مكانه ما إذا كان داخل أم خارج الرحم.</li>
                    <li>تحديد عمر الجنين ومتابعة  نموه بالتزامن مع عمره.</li>
                    <li>تشخيص الحمل المتعدد في حالات التوائم.</li>
                    <li>تقييم صحة ونمو الجنين ومتابعة حركته وتنفسه ونبضات قلبه.</li>
                    <li>قياس كمية السائل الأمنيوسي المحيط بالجنين.</li>
                    <li> اكتشاف بعض التشوهات الخلقية الخطيرة عند بعض الحالات.</li>
                    <li>عند حدوث نزيف أثناء الحمل قد يساعد السونار في تحديد سبب حدوثه</li>
                    <li>للاستدلال أثناء سحب عينات  السائل الأمنيوسي اللازم أحيانا للقيام ببعض التحاليل.</li>
                    <li>تحديد وضعية الجنين ونوعالولادة.</li>
                </ul>

                <p>وأيضاً معرفة جنس المولود
                        وهذا السبب يعتبر من أشهر الأسباب التي تجعل بعض الناس يلجئون للسونار.المتابعة عند طبيبة يزيل حاجز
                        الحرج و تستطيع المرأة أن تتحدث عن الأمور التي لها علاقة بالحمل و كل ما يتعلق به بسهولة لذلك تلجأ
                        بعض النساء للكشف عند طبيبة بعد أن كنّ يتابعن حملهن مع طبيب.
                </p>
                <p>بعض النساء يجدن أن
                        الطبيبات هن الأكثر علمًا بنفسية المرأة في تلك المرحلة الصعبة لأنهن مررن بها أو مررن بتجارب
                        مشابهة، لذا فالمرأة دائمًا تكون الأكثر تفهمًا لاضطراب الهرمونات والتغيرات النفسية وفهم الأمور
                        التي يصعب على الطبيب فهمها وإن كان لديه من الخبرة والكفاءة الكثير.
                </p>
                <p>لا شك أن متابعة الحمل اسبوع باسبوع منذ بداية بمعرفتكِ خبر الحمل من أهم الأمور التي تتضمن سلامتك وسلامة الجنين. </p>
              
                <p>المتابعة تكون شهرية خلال
                        الثلثين الأول والثاني من الحمل، و في الفترات الأخيرة تكون زيارة الطبيبة كل أسبوعين إلى أن تصل
                        إلى الشهر التاسع والأخير، والذي يجب أن تتابعي فيه مع طبيبتك لحالتك كل أسبوع لاحتمال حدوث ولادة
                        في أي وقت.&nbsp;</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-5 col-12 pb-4 d-flex align-items-center">
                <img width="100%" src="assets/img/ban3.jpg" alt="">
            </div>
            <div class="col-md-7 col-12 text-center text-md-right">
                <h2>هناك أهمية كبيرة من متابعة الحمل اسبوع باسبوع نلخصها في بعض النقاط</h2>
               <ul>
                    <li> التأكد من نمو الجنين شهرًا بشهر بطريقة صحيحة.</li>
                    <li>متابعة صحتك وقياس الضغط والسكر بانتظام، لضمان عدم حدوث أي مضاعفات قبل الولادة.&nbsp;</li>
                    <li> التأكد من حركة الجنين ونبضه داخل الرحم.</li>
                    <li>اكتشاف أي مضاعفات يمكن أن تحدث للجنين داخل الرحم، مثل: التشوهات والعدوى وغيرها من المضاعفات التي يسهل
                         التعامل معها في حالة اكتشافها مبكرًا.&nbsp;</li>
                    <li> الاستفسار عن كل الأمور التي تزعجك خلال الحمل، وإيجاد إجابات لكل الأسئلة التي تدور في ذهنك خلال تلك الفترة.</li>
               </ul>
                <h2>كما أن هناك بعض نصائح الطبيب للأم أثناء متابعة الحمل اسبوع باسبوع</h2>
               <ul>
                    <li>الأطعمة التي تتناولها الأم: ينصح الطبيب بتناول الخضروات و الفواكه الطازجة بكل أنواعها.</li>
                    <li>الابتعاد عن الدهون والأطعمة المقلية، واللحوم المصنعة بأنواعها،</li>
                    <li> واللحوم المدخنة والمملحة كالرنجة والفسيخ واللانشون، والابتعاد عن الشوكولاتة، والأطعمة الحارة  والتوابل والحارة، والملح الزائد والمخللات.</li>
                    <li>الحركة أثناء الحمل: يجب أن تكون الحركة بحذر و البعد عن الانحناء.</li>
                    <li> علامات الخطر فى الحمل: يجب استشارة الطبيب فى كافة التغيرات التي تحدث مثل النزيف، الإفرازات ،  وارتفاع درجة حرارة الجسم، و الرعشة المستمرة.</li>
               </ul>
            </div>
        </div>
    </div>
</div>