.tip2  .row img{
    border-radius: 15px;
}
img:hover {
    opacity: .8;
}

h2{
    font-size: 1.5rem;
    color:#ff00ff; 
    font-family: georgia, palatino, serif;
}
p{
    font-weight: 400;
    font-family: georgia, palatino, serif;
    padding-top: 15px;
}

 li{
    direction: rtl; text-align: right;
}
@media (max-width:768px) {
    ul{
        margin-right:20px;
    }
    
}
